 /* Formatação da área inicial da página */
.menu-superior {
    display: flex;
    justify-content: center;
    height: 55px;
    background-color: #3573ba;
}

.menu-superior ul {
    display: flex;
}

.menu-superior a {
    font-family: 'Montserrat';
    color: #FFF;
}

/* Formatação da área de pesquisa */
div.pesquisa {
    display: block;
    height: 315px;
    background-image: url(../img/banner/banner.png);
}

img.logoPrefeitura{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 14px rgba(0, 0, 0,.3);;
    width: 180px;
    height: 61px;

}

div.pesquisa h1{
    font-size: 48px;
    display: flex;
    justify-content: center;
    margin: 55px 0px 30px 0px;
    color: #FFF;
    text-shadow: 1px 1px 14px rgba(0, 0, 0, .7);
}

div.container {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, .5);
    padding: 0px;
}

button.btn {
    background-color: #FFF;
    color: darkslategray;
    height: 34px;
    width: 34px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 0px;
}

img.botaoPesquisa {
    height: 25px;
}
